@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
:root{
    --buton: linear-gradient(#ff0f13, #faef28); 
    --white: #fff;
    --black: #000;
    --red: #ff0000; 
    --degrade: linear-gradient( #e71f1fa6, #ff0000);
}
.background{
    background-color:#99a39b;
}

/*classe reutilizavel*/
.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul{
    display: flex;
    align-items: center;
}
.ul li{
    margin: 5px;

}
.ul li a{
    font-size: 15px;
    text-decoration: none;
}

body{
    font-family: "Inter", "sans-serif";
    color: white;
}
.logo{
    width: 100px;
}
.button{
    padding: 10px 25px;
    color:white;
    border: none;
    cursor: pointer;
    background-image: var(--degrade);
}
/*main*/
main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.main-text{
    width: 50%;
    color:black;
}
.main-text h1{
    font-size: 3rem;
}
.main-text h3{
    font-size: 1rem;
}
.main-text div{
    display:flex;
    align-items: center;
    margin-top:20px;
}
.main-img img{
    border-radius:10px;
    width: 100%;
}